body{
font-family: 'Poppins', sans-serif;
background-color: blanchedalmond;
}

.header_div{
    background-color: aquamarine;
    text-decoration-color: black ;
}

.header_div p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: medium;
}

.main_div button{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.copy_right_footer{
position: fixed;
color: #267cc8;
bottom: 0;
width: 100%;
font-size: 18px;
background-color: azure;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}